*{
    font-family: 'Rubik',sans-serif;
    margin:0;
    padding:0;
    
}

.wrapper{
    margin: 50px auto;
    border: 1px solid green;
    padding: 15px 15px;
    text-align: center;
    width: 80%;
}
.catImg{
    width: 300px;
    border: 3px solid black;
}