<div class="display">
  <h3>Add a New Pet</h3>
  <div *ngIf="petErrors.length">
    <ul class="errors">
      <li *ngFor="let error of petErrors">{{ error }}</li>
    </ul>
  </div>
  <form (submit)='onSubmit($event,petForm)' autocomplete="off" #petForm = 'ngForm'>
    <table>

        <tr>
          <td><label for="">Name</label></td>
          <td> <input type="text" name="name" [(ngModel)]= 'pet.name' required></td>
        </tr>
        <tr>
          <td><label for="">Type: </label></td>
          <td><input type="text" name="type" [(ngModel)]= 'pet.type' required></td>
        </tr>
        <tr>
          <td><label for="">Description: </label></td>
          <td><textarea name="description" [(ngModel)]= 'pet.description' required cols="35" rows="3"></textarea></td>
        </tr>
        <tr>
          <td> <label for="">Skill 1: </label></td>
          <td><input type="text" name="skill1" [(ngModel)]= 'pet.skill1'></td>
        </tr>
        <tr>
          <td> <label for="">Skill 2: </label></td>
          <td><input type="text" name="skill2" [(ngModel)]= 'pet.skill2'></td>
        </tr>
        <tr>
          <td> <label for="">Skill 3: </label></td>
          <td><input type="text" name="skill3" [(ngModel)]= 'pet.skill3'></td>
        </tr>

        <tr>
          <td><button >Submit</button></td>
        </tr>
      </table>

  </form>
</div>


