<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Counter</title>

</head>
<body>
    <div class="wrapper">
        <h3>Counter</h3>
        <br>
        <br>
        <p><%= count %></p>
        <br>
        <br>
        <a href="/byOne">Increase by 1</a>  |  <a href="/byTwo">Increase By 2</a>  |  <a href="/reset">Reset Counter</a>
    </div>
</body>
</html>