<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Node Test Server</title>

</head>
<body>
    <div class="wrapper">
        <h3>Add a Car</h3>
        <form action="">
            <p>Car Make: <input type="text"></p>
            <p>Car Model: <input type="date" name="" id=""></p>
            <p>Car Color:  <input type="text"></p>
            <p><button type="submit">Submit</button></p>
            
        </form>
        <a href="/cars">View Cars</a>  |  <a href="/">Back to Home</a>  |  <a href="/cats">View Cats</a>
    </div>
</body>
</html>