<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Cars and Cats</title>

</head>
<body>
    <div class="wrapper">
        <h3>Cats</h3>
        <div>
            <img src="/tabby.jpg" alt="tabby cat">
        </div>
        <div>
            <img src="/shorthaired.jpg" alt="shorthaired cat">
        </div>
        
        <a href="/cars">View Cars</a>  |  <a href="/cars/new">Add A Car</a>  |  <a href="/">Back to Home</a>
    </div>
</body>
</html>