<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cat Pack</title>
</head>
<body>
    <div class="wrapper">
        <h1>Add a New Cat</h1>
        <br>
        <a href="/"><button id="back">Back to Dashboard</button></a>
        <div class="display">
            <form action="/cats" method="post">
                <p><span>Name: </span><input type="text" name="name" id="name"></p>
                <p><span>Favorite Food: </span><input type="text" name="f_food" id="f_food"></p>
                <p><span>Hiding Spots: </span></p>
                <textarea name="h_spots" id="h_spots" cols="30" rows="2" placeholder="Separate by Commas"></textarea>
                <br>

                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
</body>
</html>