<div class="sidebar">

  <h3>Login here:</h3>
  <div *ngIf="loginErrors.length">
      <ul class="errors">
        <li *ngFor="let error of loginErrors">{{ error }}</li>
      </ul>
  </div>
  <form  (submit)="onSubmit(login.value)" #login="ngForm">
    <table>
        <tr>
            <td><label for="">Email</label></td>
            <td><input type="text" name="email" #name="ngModel" [(ngModel)]="user.email"
            /></td>
        </tr>
        <tr>
            <td><label for="">Password</label></td>
            <td><input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" minlength="5"
            /></td>
        </tr>

        <tr>
            <td></td>
            <td class="regButton"><button *ngIf="login.valid">Login</button></td>
        </tr>

    </table>
  </form>
</div>
