<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="wrapper">
        <h1>Welcome to Quoting Dojo</h1>
        <div class="display">
            <form action="/newQuotes" method="post">
                <h3>Add A Quote</h3>
                <p>Your Name: <input type="text" name="name" id="name"></p>
                <br>
                <p>Your Quote:</p> 
                <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
            <a href="/quotes"><button>Skip to Quotes</button></a>
        </div>
    </div>
</body>
</html>